@import "../../../../style/variables";

.section_menu-option {
  background-color: $background-red;
}

.menu {
  &_row {
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $hr-red;
    transition: transform 700ms ease-out;

    &--2 {
      width: 100%;
      height: 100%;
      transition: transform 700ms ease-out;

    }
  }

  &_text-small {
    color: white;
    font-size: 14px;
    font-family: Calibri;


    &--2 {
      margin-left: 15px;

    }
  }

  &_text-big {
    color: white;
    font-family: $fina-font;
    margin-top: 10px;


  }

  &_hr {
    border: 1px solid $hr-red;
    width: 100%;
  }

  &_col {
    padding-top: 20px;
    padding-bottom: 15px;

    &--2 {
      padding-left: 35px;
    }
  }

  &_btn {
    border: 0;
    background-color: transparent;
  }
}


.screen {
  position: relative;
  transition: transform 700ms ease-out;

  &_moved {
    transform: translateX(-70%);
  }


  &_notmoved {
    transform: translateX(0);
  }

}


.screenSlide {
  position: absolute;
  transition: transform 1000ms ease-out;
  background-color: $background-green;
  background-image: url('../../../../assets/images/menu-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  margin-bottom: 0;
  top: 0;
  height: 100%;

  &_moved {
    transform: translateX(15%);

  }


  &_notmoved {
    transform: translateX(100%);

  }

  &_btn {
    border: 0;
    background: transparent;
    margin-left: 25px;
  }

}

.screenMain {
  position: relative;
  overflow: hidden;
}
