<section class="drawer_profile">
  <div class="container">
    <div class="row">
      <div class="col-3 text-center">
        <button class="drawer_btn"><img src="../../assets/images/edit-icon.png" alt=""></button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row drawer_row">
      <div class="col-6 text-center offset-3 ">
        <div class="drawer_img">
          <img class="drawer_img-img" src="../../assets/images/newAvatar.png" alt="">
        </div>
      </div>
    </div>
    <div class="row drawer_row">
      <div class="col-12 text-center">
        <p class="drawer_p">Designer Name</p>
        <p class="drawer_p--2">love with UI / GUI / UX</p>
      </div>
    </div>
  </div>
</section>
