@import "../../style/variables";


.screen {
  width: 100%;
  transition: transform 700ms ease-out;
  overflow: hidden;
  background-color: $background-red;

  &_moved {
    transform: translateX(80%);
  }


  &_notmoved {
    transform: translateX(0);
  }
}

.overlay {
  z-index: 4;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
