@import "../../style/variables.scss";

.drawer {
  &_text {
    color: $drawer-font-c;
    font-size: 20px;
    font-family: $fina-font;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;

    &--2 {
      color: white;
      font-family: $fina-font;
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;

    }
  }

  &_btn {
    border: none;
    background: transparent;
  }

  &_hr {
    border: 1px solid $drawer-font-c;
    width: 100%;
  }

  &_item-row {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
