      <section class="screenMain">
        <div class="container screen"
          [ngClass]="{'screen_moved' : notification.isMoved, 'screen_notmoved' : !notification.isMoved}"
          (click)="moveChange()">
          <div class="row menu_row">
            <div class="col-2 menu_col offset-1">
              <img class="menu_img" [src]="notification.imgPath" alt="">
            </div>
            <div class="col-9 menu_col">
              <span class="menu_text-small">{{notification.title}}</span>
              <span class="menu_text-small--2 menu_text-small">by: {{notification.author}}</span>
              <p class="menu_text-big">{{notification.text}}</p>
            </div>
          </div>
        </div>

        <div class="container screenSlide"
          [ngClass]="{'screenSlide_moved' : notification.isMoved, 'screenSlide_notmoved' : !notification.isMoved}"
          (click)="moveChange()">
          <div class="row menu_row--2 d-flex align-items-center">
            <div class="col-3 menu_col">
              <button class="screenSlide_btn"><img src="../../assets/images/preview-icon.png" alt=""></button>
            </div>
            <div class="col-3 menu_col">
              <button class="screenSlide_btn"><img src="../../assets/images/heart-icon.png" alt=""></button>
            </div>
            <div class="col-3 menu_col">
              <button class="screenSlide_btn"><img src="../../assets/images/bin-icon.png" alt=""></button>
            </div>
          </div>

        </div>
      </section>
