<section class="header">
  <div class="container">
    <div class="row text-center">
      <div class="col-3">
        <button class="header_button"><img class="" src="../../assets/images/meni-icon.png" alt=""
            (click)="toggleDrawer()"></button>
      </div>
      <div class="col-6 logo_container">
        <img class="img-fluid logo_img" src="../../assets/images/color-hearth-icon.png" alt="">
        <span class="logo_text">uilove</span>
      </div>
      <div class="col-3">
        <button class="header_button"><img class="" src="../../assets/images/bio-icon.png" alt=""></button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row header_row">
      <div class="col-12 text-center">
        <span class="header_h1">Principal </span> <span class="header_h1--2">Designer</span>
        <p class="header_p">who believe in simplicty.</p>
        <p class="header_p--2">love with UI / GUI / UX</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row header_row align-items-center">
      <div class="col-4 text-right">
        <button class="header_button--social"><img class="" src=" ../../assets/images/dribbble.png" alt=""></button>
      </div>
      <div class="col-4 text-center">
        <button class="header_button--social"><img class="" src="../../assets/images/forest-icon.png" alt=""></button>
      </div>
      <div class="col-4">
        <button class="header_button--social"><img class="" src=" ../../assets/images/Be.png" alt=""></button>
      </div>
    </div>
  </div>
</section>
